// THIS CSS IS ONLY FOR THE DEMO, DON'T PAY ATTENTION TO IT
.hljs{display:block;overflow-x:auto;padding:.5em;background:#23241f}.hljs,.hljs-tag,.hljs-subst{color:#f8f8f2}.hljs-strong,.hljs-emphasis{color:#a8a8a2}.hljs-bullet,.hljs-quote,.hljs-number,.hljs-regexp,.hljs-literal,.hljs-link{color:#ae81ff}.hljs-code,.hljs-title,.hljs-section,.hljs-selector-class{color:#a6e22e}.hljs-strong{font-weight:bold}.hljs-emphasis{font-style:italic}.hljs-keyword,.hljs-selector-tag,.hljs-name,.hljs-attr{color:#f92672}.hljs-symbol,.hljs-attribute{color:#66d9ef}.hljs-params,.hljs-class .hljs-title{color:#f8f8f2}.hljs-string,.hljs-type,.hljs-built_in,.hljs-builtin-name,.hljs-selector-id,.hljs-selector-attr,.hljs-selector-pseudo,.hljs-addition,.hljs-variable,.hljs-template-variable{color:#e6db74}.hljs-comment,.hljs-deletion,.hljs-meta{color:#75715e}
body {
  margin: 4rem 0 10rem 0;
}
h1 {
  text-align: center;
  margin-bottom: 2rem;
}
h2 {
  margin: 0 0 2rem 0;
  padding: 1rem 0 0 0;
}
code {
  max-height: 25rem;
  margin-bottom: 2rem;
}
p {
  margin-bottom: 2rem;
}
.h5 {
  font-weight: 400;
}
#custom, #basic {
  min-height: 14rem;
  padding: 2rem;
  margin-bottom: 2rem;
  border: 0.0625rem solid #ced4da;
  border-radius: .25rem;
}
#dark {
  min-height: 14rem;
  color: white;
  padding: 2rem;
  margin-bottom: 2rem;
  background: #333;

  input {
    appearance: none;
    box-shadow: 0 0 0;
    border-radius: 2rem;
    border: 0;
    padding: .5rem 1.3rem;
    background: #555;
    border:0;
    color: white;
    display: block;
    width: 100%;
  
    &:focus {
      outline: 0;
    }

    .floating {
      border: 0.0625rem solid #ddd;
    }
  }
}

#material {
  min-height: 14rem;
  padding: 2rem;
  margin-bottom: 2rem;
  border: 0.0625rem solid #ced4da;

  input {
    appearance: none;
    box-shadow: 0 0 0;
    padding: .6rem 0 .4rem 0;
    border: 0;
    border-bottom: 0.0625rem solid #ced4da;
    border-radius: 0;
    display: block;
    width: 100%;
  
    &:focus {
      outline: 0;
      border-bottom: 0.0625rem solid #27ae60;
    }
  }
}

#custom {
  min-height: auto;
  background: #fafafa;
  border: 0.0625rem solid #dee2e6;

  input {
    appearance: none;
    box-shadow: 0 0 0;
    padding: .5rem 1.3rem;
    border: 0.0625rem solid #dee2e6;
    border-radius: 2rem;
    display: block;
    width: 100%;

    &:focus {
      outline: 0;
    }
  }

  .floating {
    color: green!important;

    &.is {
      color: red!important;
      border: 0.0625rem solid #dee2e6;
      border-radius: .5rem;
      padding: .2rem .5rem!important;
    }
  }
}